body {
   font-family: Helvetica, sans-serif;
   color: #555;
   background-color: yellow;
}

h1 {
   Color: red;  
}

#weather-input div {
   padding-bottom: 8px;
}

.hidden {
   display: none;
}

.error-msg {
   color: red;
}

table {
   margin-bottom: 15px;
}

table caption {
   font-weight: bold;
}

table td {
   text-align: center;
   padding: 3px 8px;
}

.blue {
	color: orange;
	background-color: black;
	font-style: bold;
	font-size: 80px; 
} 